{
    "root": true,
    "extends": ["eslint:recommended", "plugin:svelte/recommended", "prettier"],
    "parserOptions": {
        "ecmaVersion": 2022,
        "sourceType": "module",
        "extraFileExtensions": [".svelte"]
    },
    "env": {
        "browser": true,
        "node": true,
        "es2022": true
    },
    "rules": {
        "semi": ["error", "always"]
    }
}
